body {
    background-image: url('https://cdn.discordapp.com/attachments/876514326993854505/1045178512820150362/redgradient.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("./assets/redgradient.png")
  }
  
  h1 {
    color: gray;
      font-family: verdana;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color: gray;
  }